@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Material Symbols Rounded';
	font-display: block;
	src: url('/assets/fonts/MaterialSymbolsRounded.woff2') format('woff2');
}

@font-face {
	font-family: 'Kalam';
	src: url('/assets/fonts/Kalam/Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Kalam';
	src: url('/assets/fonts/Kalam/Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Kalam';
	src: url('/assets/fonts/Kalam/Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/Nunito/Variable.ttf');
}
@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/Nunito/ItalicVariable.ttf');
	font-style: italic;
}
